-Xmx4g
-Xms2g
-XX:+UseG1GC
-XX:MaxGCPauseMillis=200
-XX:G1HeapRegionSize=16m
-XX:+G1UseAdaptiveIHOP
-XX:+UseCompressedOops
-XX:+UseCompressedClassPointers
-XX:+OptimizeStringConcat
-XX:+UseStringDeduplication
-Dfile.encoding=UTF-8
-Dconsole.encoding=UTF-8
-Duser.timezone=Asia/Seoul
-Djava.net.preferIPv4Stack=true


